            body
            {
                background: white;
                width: 100%;
            }

            .row:after
            {
                content: "";
                display: table;
                clear: both;
            }

            .left-side
            {
                float: left;
                width: 20%;
                height: 100%;
            }

            .middle-side
            {
                float: left;
                width: 50%;
                height: 100%;
            }

            .right-side
            {
                float: left;
                width: 30%;
                height: 100%;
            }

            .up
            {
                background: #d7ec98;
                width: 100%;
            }

            .down
            {
                background: #d7ec98;
                width: 100%;
            }

            .headFoot
            {
                display: flex; 
                justify-content: space-between;
                align-items: stretch;
                margin-left: 20px;
                margin-right: 20px;
            }

            p.up-down
            {
                font-size: 1.2em;
                color: #307a7e;
                font-family: "Gill Sans", sans-serif;
            }

            .textblock
            {
                display: block;
                flex-direction: column;
                margin: 10px;
                padding: 10px;
                background: #8ed2aa;
                border-radius: 30px;
            }

            p.textblock 
            {
                font-size: 2em;
                color: azure;
                font-family: "Gill Sans", sans-serif;
            }

            p.text
            {
                font-size: 1.3em;
                color: azure;
                font-family: "Gill Sans", sans-serif;
            }

            .avatar
            {
                border-radius: 100%;
                width: 95%;
            }

            .first-column
            {
                float: left;
                width: 10%;
                height: 100%;
            }

            .second-column
            {
                float: left;
                width: 90%;
                height: 100%;
            }

            .likes 
            {
                display: flex;
                justify-content: space-around;
                flex-flow: row wrap;
                align-items: stretch;
            }

            .box 
            {
                flex-grow: 1;
            }

            .box1
            {
                flex-grow: 6;
                margin-top: -20px;
            }

            .d18 
            {
                position: relative;
                width: 33px; 
                height: 26px;
            }

            .d18:before, .d18:after 
            {
                content: "";
                position: absolute; 
                left: 16px; 
                top: 0;
                width: 16px; 
                height: 26px;
                background: white;
                border-radius: 16px 16px 0 0;
                transform: rotate(-45deg); 
                transform-origin: 0 100%;
            }
            .d18:after 
            {
                left: 0;
                transform: rotate(45deg); 
                transform-origin: 100% 100%;
            }

            .arrow 
            {
                height: 24px;
                position: relative;
                width: 4.8px;
                display: inline-block;
                margin-top: 4px;
                background-color: white;
            }   

            .arrow:before 
            {
                content: " ";
                width: 4.8px;
                background-color: white;
                height: 16.8px;
                position: absolute;
                top: -4.8px;
                transform: rotate(50deg);
                left: -4.8px;
            }

            .arrow:after 
            {
                content: " ";
                width: 4.8px;
                background-color: white;
                height: 16.8px;
                position: absolute;
                top: -4.8px;
                transform: rotate(-50deg);
                right: -4.8px;
            }

            .half-right 
            {
                transform: rotate(45deg);
            }

            .d33 
            {
                width: 36px; 
                height: 19.2px; 
                margin-left: 6.24px;
                background: #ffffff;
                position: relative;
                border-radius: 2.4px;
                margin-top: -10px;
            }

            .d33:before 
            {
                content: "";
                width: 0; 
                height: 0;
                position: absolute; 
                right: 100%; 
                top: calc(50% - 2.88px);
                border-top: 2.88px solid transparent;
                border-right: 5.76px solid #ffffff;
                border-bottom: 2.88px solid transparent;
            }

            .ads
            {
                display: block;
                flex-direction: column;
                width: 90%;
                background: #307a7e;
                border-radius: 10px;
                margin: 10px;
                padding: 10px;
            }

            p.ads
            {
                font-size: 1.2em;
                color: azure;
                text-decoration: underline;
                font-family: "Gill Sans", sans-serif;
            }

            .ads-photo
            {
                border-radius: 10px;
                width: 100%;
            }

            .profile-picture
            {
                width: 90%;
                border-radius: 30%;
                margin-left: 14px;
            }

            p.information
            {
                background-color: #307a7e;
                padding: 10px;
                color: white;
                font-size: 1.1em;
                font-family: "Gill Sans", sans-serif;
            }

            p.follow
            {
                color: #ffffff;
                background: #4fc7ce;
                font-size: 1.6em;
                text-align: center;
                padding: 5px;
                font-family: "Gill Sans", sans-serif;
                box-shadow: 3px 3px 0px #59e3eb, -3px -3px 0px #59e3eb;
            }   